
__pycache__/
*.py[cod]
*$py.class
*.so
.Python


venv/
.env

db.sqlite3
db.sqlite3-journal

*.log
local_settings.py
db.sqlite3*


media/
staticfiles/


.vscode/
.idea/
*.swp
*.swo


.DS_Store
Thumbs.db

*/migrations/__pycache__/